<div class="attendance-container">
  <div class="camera-box">
    <div class="video-wrapper">
      <video autoplay playsinline></video>
      <canvas id="faceCanvas"></canvas>
    </div>
    <p
      class="message"
      [ngClass]="{
        success: message.includes('thành công'),
        error: message.includes('Không') || message.includes('Lỗi')
      }"
    >
      {{ message }}
    </p>
  </div>

  <div class="info-box">
    <h3>Thông tin điểm danh</h3>
    <table>
      <tr>
        <th>Mã sinh viên</th>
        <td>{{ studentId || '—' }}</td>
      </tr>
      <tr>
        <th>Họ tên</th>
        <td>{{ fullName || '—' }}</td>
      </tr>
      <tr>
        <th>Thời gian</th>
        <td>{{ time || '—' }}</td>
      </tr>
    </table>
    <div *ngIf="framedImage" class ="result-box">
      <h4>Hình ảnh điểm danh</h4>
      <img [src]="framedImage" alt="Framed Attendance Image" 
      width="250" 
      height ="150" 
      />
    </div>
  </div>
  <div>
    <a href ="/login" class ="btn-admin">TRANG QUẢN LÝ</a>
  </div>
</div>
