.attendance-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.controls {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.controls select,
.controls button {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: #fff;
}

.camera-box {
  text-align: center;
}

.video-wrapper {
  position: relative;
  display: inline-block;
}

video {
  width: 480px;
  height: 360px;
  border-radius: 12px;
  background-color: #000;
  object-fit: cover;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 360px;
  pointer-events: none;
}

.message {
  margin-top: 12px;
  font-weight: bold;
  font-size: 18px;
}

.message.success {
  color: #28a745;
}

.message.error {
  color: #dc3545;
}

.info-box {
  width: 420px;
  background: #928383;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  padding: 20px;
}

.info h3 {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
  
}
.result-box {
  margin-top: 10px;
  text-align: center;
}

.result-box h4 {
  margin-bottom: 6px;
  font-size: 14px;
  color: #333;
}

.result-box img {
  border: 2px solid #4caf50;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
}

.btn-admin {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-admin:hover {
  background-color: #0366d6;
}
